<h1>WavHead > <%= @artist.name %> > <%= @album.title %></h1>
<div class="artlist">
  <% @songs.sort{|x,y| x.track <=> y.track}.each do |s| %>
    <div class="artlistitem">
      <a href="/browse/<%= @artist.name %>/<%= @album.title %>/<%= s.title %>"><%= s.title %></a>
    </div>
  <% end %>
</div>
