<div id="breadcrumbs">
	<a href="/">WavHead</a> > <%= @artist.name %> > <%= @album.title %>
</div>

<div class="artlist">
  <% @songs.sort{|x,y| x.track <=> y.track}.each do |s| %>
    <div class="artlistitem">
      <a href="/browse/<%= @artist.name %>/<%= @album.title %>/<%= s.title %>"><%= s.title %></a>
    </div>
  <% end %>
</div>
