<div id="breadcrumbs">
  <a href="/">WavHead</a> > <a href="/browse/<%= @artist.title %>"><%= @artist.title %></a> > <span class="boldbreadcrumb"><%= @album.title %></span>
</div>

<div class="artlist">
  <% @songs.sort{|x,y| x.track <=> y.track}.each do |s| %>
    <div class="songlistitem">
      <a href="/browse/<%= @artist.title %>/<%= @album.title %>/<%= s.title %>"><%= s.title %></a>
    </div>
  <% end %>
</div>
