<!-- The "breadcrumbs" are displayed at the top of every artist's page, and allow the user to navigate back to the home page or the artist's page. -->
<div id="breadcrumbscontainer">
  <div id="breadcrumbs">
    <a href="/">WavHead</a> &gt; <a href="/browse/<%= @artist.safe_title %>"><%= @artist.title %></a> &gt; <span class="boldbreadcrumb"><%= @album.safe_title %></span>
  </div>
</div>

<!-- The contentcontainer hosts two columns, one for the album information (album art, title, artist) and one for the song list. -->
<div id="contentcontainer">
  <div id="albuminfocontainer">

    <!-- Album art is displayed here. If the album has a cover, that cover is shown. Otherwise, a placeholder is given. -->
    <div class="albumart">
      <% a = @album %>
      <% if a.art_path %>
        <img src="/cover/<%= @artist.safe_title %>/<%= @album.safe_title %>">

      <% else %>
        <img src="/nocover.png">

      <% end %>
    </div>

    <div class="albuminfo">

      <!-- The album's title is displayed here. -->
      <div class="albuminfoalbum">
        <%= @album.title %>
      </div>

      <!-- The album's artist is displayed here. -->
      <div class="albuminfoartist">
        <a href="/browse/<%= @artist.safe_title %>">
          <%= @artist.title %>
        </a>
      </div>
    </div>

  </div>

  <!-- The list of songs is displayed in a second column to the right of the album information, or below on mobile devices. -->
  <div class="artlistcontainer">
    <div class="artlist">

      <!-- For each songin the album, the following is displayed. -->
      <% @songs.sort{|x,y| x.track <=> y.track}.each do |s| %>
        <div class="songlistitem">
          
          <form class="voteform" action="<%= @album.safe_title %>/<%= s.safe_title %>/vote" method="post">
            <input type="submit" title="vote" value="Upvote" class="upvote">

            <div class="songtitle"><%= s.title %></div>

            <div class="songlength">4:20</div>
          </form>
        </div>
      <% end %>
    </div>
  </div>
</div>
