<svg height="0" width="0" viewBox="0 0 16 16">
<polygon id="checkmark" points="15.959,3.51 14.545,2.095 5.563,11.077 1.414,6.927 0,8.342 5.563,13.905 "/>
</svg>

<svg height="0" width="0" viewBox="0 0 16 16">
  <polygon id="plus" points="16,7 9,7 9,0 7,0 7,7 0,7 0,9 7,9 7,16 9,16 9,9 16,9 "/>
</svg>
<svg height="0" width="0" viewBox="0 0 16 16">
<polygon id="minus" points="16,7 9,7 7,7 0,7 0,9 7,9 9,9 16,9"/>

</svg>


<!-- The "breadcrumbs" are displayed at the top of every artist's page, and allow the user to navigate back to the home page or the artist's page. -->
<div id="breadcrumbscontainer">
  <div id="breadcrumbs">
    <a href="/">WavHead</a> &gt; <a href="/browse/<%= @artist.safe_title %>"><%= @artist.title %></a> &gt; <span class="boldbreadcrumb"><%= @album.title %></span>
  </div>
</div>

<!-- The contentcontainer hosts two columns, one for the album information (album art, title, artist) and one for the song list. -->
<div id="contentcontainer">
  <div id="albuminfocontainer">

    <!-- Album art is displayed here. If the album has a cover, that cover is shown. Otherwise, a placeholder is given. -->
    <div class="albumart">
      <% a = @album %>
      <% if a.art_path %>
        <img src="/cover/<%= @artist.safe_title %>/<%= @album.safe_title %>">

      <% else %>
        <img src="/nocover.png">

      <% end %>
    </div>

    <div class="albuminfo">

      <!-- The album's title is displayed here. -->
      <div class="albuminfoalbum">
        <%= @album.title %>
      </div>

      <!-- The album's artist is displayed here. -->
      <div class="albuminfoartist">
        <a href="/browse/<%= @artist.safe_title %>">
          <%= @artist.title %>
        </a>
      </div>

      <!-- The number of songs and length (in minutes) of the album are displayed here. -->
      <div class="albuminfosongnumber">
        <%= @album.songs.count %> songs
      </div>
      <div class="albuminfolength">
        <%= "#{@album.total_length.to_i / 60} minutes"  %>
      </div>
    </div>

  </div>

  <!-- The list of songs is displayed in a second column to the right of the album information, or below on mobile devices. -->
  <div class="artlistcontainer">
    <div class="artlist">

      <!-- For each songin the album, the following is displayed. -->
      <% @songs.each do |s| %>
        <div class="songlistitemcontainer">
          <div class="songlistitem">
          <div class="votebuttons">
            <form class="voteform" action="<%= @album.safe_title %>/<%= s.safe_title %>/upvote" method="post">
              <button type="submit" title='Vote for "<%= s.title %>"' value="Upvote" class="upvote">
                <svg class="upvotebutton" height="16" width="16">
                  <use xlink:href="#plus"></use>
                </svg>
		</button>
		</form>
<% if WavHead::Server.settings.votemanager.downvote %>
	<form class="voteform" action="<%= @album.safe_title %>/<%= s.safe_title %>/downvote" method="post">
              <button type="submit" title='Downvote for "<%= s.title %>"' value="Downvote" class="upvote downvote">
                <svg class="upvotebutton" height="16" width="16">
                  <use xlink:href="#minus"></use>
                </svg>
                </button>
                </form>
<%end%>
	</div>	
                <div class="songtitle"><%= s.title %></div>

            <span class="songlength"><%= Time.at(s.length).strftime "%M:%S" %></span>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
