<div id="breadcrumbscontainer">
  <div id="breadcrumbs">
    <a href="/">WavHead</a> &gt; <a href="/browse/<%= @artist.title %>"><%= @artist.title %></a> &gt; <span class="boldbreadcrumb"><%= @album.title %></span>
  </div>
</div>

<div id="contentcontainer">
  <div id="albuminfocontainer">

    <div class="albumart">
      <% a = @album %>
      <% if a.art_path %>
        <img src="/cover/<%= @artist.title %>/<%= @album.title %>">

      <% else %>
        <img src="/nocover.png">

      <% end %>
    </div>

    <div class="albuminfo">
      <div class="albuminfoalbum">
        <%= @album.title %>
      </div>

      <div class="albuminfoartist">
        <a href="/browse/<%= @artist.title %>">
          <%= @artist.title %>
        </a>
      </div>
    </div>

  </div>

  <div class="artlistcontainer">
    <div class="artlist">
      <% @songs.sort{|x,y| x.track <=> y.track}.each do |s| %>
        <div class="songlistitem">
          
          <form action="<%= @album.title %>/<%= s.title %>/vote" method="post" target="upvote <%= s.title %>">
            <%= s.title %>
            
            <input type="submit" title="vote" value="Upvote" class="upvote" onclick="updateQueue()">
          </form>

          <iframe name="upvote <%= s.title %>" height="0" width="0" style="display: none"></iframe>
        </div>
      <% end %>
    </div>
  </div>
</div>