<!-- The "breadcrumbs" are displayed at the top of every artist's page, and allow the user to navigate back to the home page. -->
<div id="breadcrumbscontainer">
  <div id="breadcrumbs">
    <a href="/">WavHead</a> &gt; <span class="boldbreadcrumb"><%= @artist.title %></span>
  </div>
</div>

<div class="albumartlist">

  <!-- For each album belonging to the relevant artist, the following is displayed. -->
  <% @artist.albums.each do |a| %>
    <a href="/browse/<%= @artist.safe_title %>/<%= a.safe_title %>">
      <div class="albumlistitem">

        <!-- If an album cover exists, then it's displayed. Otherwise a placeholder image is given. -->
        <% if a.art_path %>
          <img src="/cover/<%= @artist.safe_title %>/<%= a.safe_title %>">

        <% else %>
          <img src="/nocover.png">

        <% end %>
        
        <br>

        <!-- The title of the album is displayed below the album cover. -->
        <%= a.title %>
      </a>
    </div>
  <% end %>
</div>
