<div id="breadcrumbs">
  <a href="/">WavHead</a> > <span class="boldbreadcrumb"><%= @artist.name %></span>
</div>

<div class="artlist">
  <% @artist.albums.each do |a| %>
    <a href="/browse/<%= @artist.name %>/<%= a.title %>">
      <div class="albumlistitem">
        <% if a.art_path %>
          <img src="/cover/<%= @artist.name %>/<%= a.title %>">

        <% else %>
          <img src="nocover.png"

        <% end %>
        <br>
        <%= a.title %>
      </a>
    </div>
  <% end %>
</div>
