<div id="breadcrumbscontainer">
  <div id="breadcrumbs">
    <a href="/">WavHead</a> &gt; <span class="boldbreadcrumb"><%= @artist.title %></span>
  </div>
</div>

<div class="albumartlist">
  <% @artist.albums.each do |a| %>
    <a href="/browse/<%= @artist.title %>/<%= a.title %>">
      <div class="albumlistitem">
        <% if a.art_path %>
          <img src="/cover/<%= @artist.title %>/<%= a.title %>">

        <% else %>
          <img src="/nocover.png">

        <% end %>
        
        <br>

        <%= a.title %>
      </a>
    </div>
  <% end %>
</div>
