<div id="queue">
  <% @queue.each do |i| %>
    <div class="queuelistitem">
      <div class="queueitemtitle">
        <%= i.title %>
      </div>

      <div class="queueitemartist">
        <a href="/browse/<%= i.artist.title %>"><%= i.artist.title %></a>
        &mdash;
        <a href="/browse/<%= i.artist.title %>/<%= i.album.title %>"><%= i.album.title %></a>
      </div>
    </div>
  <% end %>
</div>
