<div id="breadcrumbs">
	<a href="/">WavHead</a> > <a href="/browse/<%= @artist.title %>"><%= @artist.title %></a> > <a href="/browse/<%= @artist.title %>/<%= @album.title %>"><%= @album.title %></a> > <span class="boldbreadcrumb"><%= @song.title %></span>
</div>

<form action="<%= @song.title %>/vote" method="post">
  <input type="submit" title="vote" value="Upvote" class="upvotebutton">
</form>